/* selbst erstellter Code */
:root {
    --small-padding: 5px;
    --medium-padding: 10px;
    --large-padding: 15px;
    --small-task-inner-padding: 2px;
    --background-color: #FFFFFF;
    --grey-light: #E8EDED;
    --grey-dark: #ABBDBC;
    --font-color: #2B3838;
    --accent-color:#26C7B9;
    --task-board-border-color: rgb(203 213 225);
    --highlight-red: #E86868;
    --overlay-color: rgba(0,0,0,0.5);
    color: var(--font-color);
    font-family: Calibri;
}

/*Allgemeines Styling*/

body {
    margin: 0;
    height: 100vh;
}

h2 {
    margin: 0 0 15px var(--medium-padding);
    display: inline-block;
    max-height: 55px;
    overflow: auto;
}

h3 {
    margin: 0;
}

h4 {
    display: inline-block;
    width: 100%;
    margin: var(--small-padding) 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    color: var(--background-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 7px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
    padding: var(--medium-padding) 15px;
    cursor: pointer;
}

button:active {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

input, select, textarea {
    border: 1px solid var(--grey-dark);
    border-radius: 6px;
}

input:focus-visible, select:focus-visible, textarea:focus-visible {
    border: 2px solid var(--accent-color) !important;
}

input {
    height: 25px;
    width: 180px;
}

p {
    margin: 0;
}

select {
    height: 29px;
}

textarea {
    resize: none;
}

.button-large {
    width: 186px;
    height: 60px;
    margin: 20px 0 0 92px;
}

form>.button-large {
    display: block;
    margin: 20px auto 0 auto;
}

.button-small, .button-secondary {
    height: 40px;
    min-width: 90px;
}

.button-secondary {
    background-color: var(--grey-light);
    color: var(--font-color);
}

.icon {
    height: 15px;
    filter: invert(18%) sepia(30%) saturate(269%) hue-rotate(131deg) brightness(95%) contrast(93%);
}

.link-secondary {
    color: var(--grey-dark);
    text-decoration: underline;
    cursor: pointer;
}

.user-buttons-container {
    text-align: end;
    margin-right: var(--medium-padding);
}

.user-links-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: var(--medium-padding);
}

.user-links-container button {
    background: none;
    color: var(--font-color);
    padding: 0;
    filter: none;
}

.user-links-container>a {
    text-decoration: none;
    color: var(--accent-color);
}

.user-links-container form {
    display: inline;
}

/* ----- Root-, Login-, Register- und Welcome-Page Styling ----- */
.start-page {
    height: 100%;
    text-align: center;
    background-color: var(--grey-light);
    color: var(--font-color);
}

.start-page h1 {
    color: var(--grey-dark);
    font-size: 100px;
    font-weight: lighter;
}

.welcome-container {
    height: 100vh;
    width: 100vw;
    text-align: center;

}

.welcome-container h1 {
    color: var(--grey-dark);
    font-size: 50px;
    font-weight: normal;
}

.board-link-container {
    width: 50%;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board-link-container a {
    width: 30%;
    margin-top: 15px;
}

.board-link-button {
    background-color: var(--grey-light);
    color: var(--font-color);
    width: 100%;
    height: 90px;
    text-align: left;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}

.board-link-button>div {
    max-height: 43%;
    width: 100%;
    overflow: hidden;
}

#login-container {
    height: 70vh;
    padding-top: 30vh;
}

/* ----- Board-Ansicht Styling ----- */

.task-page-container {
    height: 100%;
}

.board-main-content {
    height: 90vh;
}

.task-board-container {
    width: calc( 100% - 2 * var(--medium-padding) );
    height: 90%;
    border: 1px solid var(--task-board-border-color);
    border-radius: 7px;
    margin: var(--medium-padding);
    display: flex;
}

.board-page-area {
    height: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

#board-area-left, #board-area-right {
    width: 14%;
    align-content: start;
}

#board-area-left>*, #board-area-right>* {
    margin-bottom: var(--large-padding);
}

#board-area-left {
    padding-left: var(--medium-padding);
}

#board-area-left>div, #board-area-left>a {
    height: fit-content;
}

#board-area-right p {
    max-height: 79vh;
    overflow: auto;
}

#board-area-middle {
    width: 70%;
}

.task-column {
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

/* Alle außer der letzten Spalte */
.task-column:not(:nth-last-child(1)) {
    border-right: 1px solid var(--task-board-border-color);
}

/* Spaltenüberschrift */
.task-column-header {
    text-align: center;
    background-color: var(--grey-light);
    height: 30px;
    line-height: 28px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#first-task-column-header {
    border-radius: 7px 0 0 0;
}

#last-task-column-header {
    border-radius: 0 7px 0 0;
}

.allow-drop {
    box-shadow: inset 0 0 10px 2px var(--accent-color);
}

.allow-drop>.task-column-header {
    background-color: var(--accent-color);
}

/* ----- Overlay Styling ----- */

.overlay-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-color);
    z-index: 100;
    cursor: pointer;
}

.overlay {
    height: 60%;
    width: 60%;
    margin: 10% auto;
    display: flex;
    justify-content: center;
}

.overlay>form {
    width: 100%;
    justify-content: center;
    display: flex;
}

.overlay-section {
    position: relative;
    width: 50%;
    border: 1px solid var(--overlay-color);
    border-radius: 6px;
    background: var(--background-color);
    margin: 0;
    padding: var(--large-padding);
    text-align: left;
    cursor: auto;
}

.overlay-section>a {
    position: absolute;
    top: var(--large-padding);
    right: var(--large-padding);
}

.overlay-section label, .overlay-section input, .overlay-section textarea {
    display: block;
    width: 98%;
}

.overlay-container-segment {
    display: flex;
    justify-content: space-between;
}

.overlay-container-segment>div:first-of-type {
    width: 35%;
}

.overlay-container-segment>div:last-of-type {
    width: 60%;
}

.overlay-container-segment>div>label {
    margin-top: 15px;
}

.overlay .button-container {
    text-align: right;
    margin-top: 20px;
    position: absolute;
    right: var(--large-padding);
    bottom: var(--large-padding);
}

.update-task form>label:first-of-type {
    margin: 0;
}

.update-task .button-container {
    margin: 0;
}

/* ----- Comments Styling ----- */

.comment-timestamp {
    white-space: nowrap;
    font-size: 12px;
}

.comment-text {
    width: 100%;
    display: block;
    overflow-y: auto;
    max-height: 55px;
    overflow-wrap: break-word;
    font-size: 14px;
}

#comment-section {
    display: block;
    height: 67%;
    overflow-y: auto;
}

#comment-section>div {
    margin-top: var(--medium-padding);
}

#overlay-new-comment-segment {
    display: block;
    position: absolute;
    width: 92%;
    bottom: var(--large-padding);
}

/* ----- Task Styling ----- */

.task-small {
    border: 1px solid var(--task-board-border-color);
    border-radius: 7px;
    cursor: pointer;
    height: 45px;
    margin: 5px 5px 0;
    position: relative;
    background-color: white;
}

.is-due {
    border-color: var(--highlight-red);
    box-shadow: inset 0 0 10px 2px var(--highlight-red);
}

.task-small-id {
    display: inline-block;
    position: absolute;
    font-size: 7px;
}

.task-small-title {
    display: inline-block;
    padding: 8px 0 0 var(--medium-padding);
    font-size: 12px;
    line-height: 16px;
    height: 90%;
    width: 70%;
    overflow: hidden;
    word-break: break-word;
}

.task-small-priority {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 9px;
    right: 28px;
}

.task-small-priority svg {
    height:100%;
    width: 100%;
}

.task-small img {
    position: absolute;
    top: var(--small-task-inner-padding);
    right: var(--small-task-inner-padding);
    height: 25px;
}

.task-small-due-date {
    position: absolute;
    bottom: var(--small-task-inner-padding);
    right: var(--small-task-inner-padding);
    font-size: 8px;
}

.form-field-container {
    display: flex;
    width: 280px;
    margin: var(--medium-padding) auto;
    justify-content: space-between;
    align-items: center;
}

.form-field-container>label {
    text-align: left;
    width: 62px;
}

#update-task-first-segment {
    margin-top: var(--medium-padding);
}

#update-task-first-segment label{
    display: inline-block;
    height: 100%;
    margin-top: 5.5px;
}

#update-task-first-segment select{
    display: inline;
    width: 100%;
    height: 29px;
}

#editTaskForm {
    display: contents;
}

